.container {
	height: 300px;
	overflow: hidden;
	width: 600px;
	position: relative;
}

.carousel {
	height: 300px;
}
.carousel img {
	float: left;
}

#prev-button {
	position: absolute;
	left: 0;
	padding-top: 120px;
	font-weight: bold;
	color: white;
	font-size: 33px;
	cursor: pointer;
}

#next-button {
	position: absolute;
	right: 0;
	padding-top: 120px;
	font-weight: bold;
	color: white;
	font-size: 33px;
	cursor: pointer;
}

#indicators li {
   height: 10px;
    width: 10px;
    background-color: red;
    display: inline-table;
    margin-left: 4px;
    border-radius: 50%;
}


  

#indicators{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
